MOCK_CTRL=true
CTRL_BACKEND_PORT=8787
CTRL_BACKEND_URL=http://localhost:8787
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
REWARDS_WALLET_ADDRESS=
BURN_ACCOUNT_ADDRESS=1nc1nerator11111111111111111111111111111111
BURN_WALLET_ADDRESS=1nc1nerator11111111111111111111111111111111
CONTRACT_ADDRESS=1nc1nerator11111111111111111111111111111111
TOKEN_MINT_ADDRESS=
TOKEN_TOTAL_SUPPLY_OVERRIDE=
TOKEN_GENESIS_SUPPLY=1000000000
PUMPFUN_CREATOR_REWARDS_WALLET=
DEV_BUY_WALLET_ADDRESS=ftTvZ4a6hTzTAecpRYtEMy8EaP6cGcxLzAR953KhQRv
VITE_GITHUB_URL=https://github.com
VITE_PUMPFUN_URL=https://pump.fun
VITE_X_URL=https://x.com
VITE_SATOSHEH_X_URL=https://x.com/satoshEH_
CTRL_CREATOR_REWARDS_REFRESH_MS=300000
SOL_USD_FALLBACK=
CTRL_LAST_BUY_TX=
CTRL_LAST_BURN_TX=
CTRL_TOTAL_TOKENS_BURNED=0
CTRL_TOTAL_SOL_BURNED=0
CTRL_TOTAL_USD_SPENT=0
CTRL_TOTAL_CYCLES=69
CTRL_TOTAL_CLAIMED_SOL=0
CTRL_TOTAL_CLAIMED_USD=0
CTRL_TOTAL_HOLDERS=0
CTRL_WORKER_EVENTS_URL=http://127.0.0.1:8790/events
CTRL_WORKER_STATUS_URL=http://127.0.0.1:8790/status
CTRL_WORKER_STATUS_POLL_MS=3000
CTRL_HOLDERS_REFRESH_MS=120000
CTRL_STATE_FILE=.ctrl-runtime-state.json
